*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url("../img/backg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.body-container{
  width: 85%;
  margin: 0 auto;
}
.card{
    display: inline-block;
    margin: 30px;
    padding: 10px 0;
}
p{
    text-align: center;
    color: white;
}